*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    
}

.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand span {
    margin-left: 10px;
}
.image-fluid{
    width: 100%;
}
#description{
    margin-top: 0px;
    text-align: center;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    padding-bottom: 20px;
}
.card-gift{
    width: 600px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.main-image1:hover{
    content: url(./images/product1\ back1.png);
}
.main-image2:hover{
    content: url(./images/product1\ back.png);
}
.main-image3:hover{
    content: url(./images/product2\ back.jpg);
}
.main-image4:hover{
    content: url(./images/product2\ back1.png);
}
.main-image5:hover{
    content: url(./images/product3.1back.jpg);
}
.main-image6:hover{
    content: url(./images/product3.2back.png);
}
.main-image7:hover{
    content: url(./images/product4.1back.png);
}
.main-image8:hover{
    content: url(./images/product4.2back.png);
}
.main-image9:hover{
    content: url(./images/product5.1back.png);
}
.main-image10:hover{
    content: url(./images/product5.2back.png);
}
.main-image11:hover{
    content: url(./images/product6.1back.png);
}
.main-image12:hover{
    content: url(./images/product6.2back.jpg);
}
.main-image13:hover{
    content: url(./images/product7.1back.jpg);
}
.main-image14:hover{
    content: url(./images/product7.2back.png);
}
.main-image15:hover{
    content: url(./images/product8.1back.jpg);
}
.main-image16:hover{
    content: url(./images/product8.2back.jpg);
}
.main-image17:hover{
    content: url(./images/gift\ set\ back.png);
}
.main-image18:hover{
    content: url(./images/valentine\ gift\ set\ back.webp);
}
.card img{
    width: 100%;
    height: 70%;
}
.card-gift img{
    width: 100%;
    min-width: 100px;
    max-height: 400px;
    object-fit: cover;
}
.card-content{
    text-align: center;
    padding: 0 10px;
}
.card-content h3{
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.2;
}

body{
    overflow-x: hidden;
}

#sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

#sidebar a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

#main{
    transition: margin-left 0.5s;
    padding: 16px;
}

#sidebarCollapse{
    width: 50px;
    height: 30px;
    top: 5px;
    right: 15px;
    z-index: 1;
    position: fixed;
    justify-content: right;
    cursor: pointer;
}

#sidebarCollapse i{
    transform: rotate(0deg);
    transition: transform 0.3s;
}

#sidebar.active{
    width: 260px;
}

#sidebar.active #sidebarCollapse i {
    transform: rotate(-180deg);
}

.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
.footer-logo {
    display: flex;
    justify-content: center;
    font-family: 'Merriweather', serif;
}